<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp4.Properties.Settings.ConnectionString" connectionString="Data Source=DESKTOP-CP28GOV\SQLEXPRESS;Integrated Security=True;Encrypt=False;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
        <add name="WindowsFormsApp4.Properties.Settings.personel_veri_tabaniConnectionString" connectionString="Data Source=DESKTOP-CP28GOV\SQLEXPRESS;Initial Catalog=personel_veri_tabani;Integrated Security=True;Encrypt=False;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
